
.film-description {
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating{
color: darkgoldenrod;
}

.film-loader{
    position: absolute;
    top: 0;
    opacity: 0.8;
    font-size: 6rem;
    left: 0;
    display: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
